html {
    border: 2px solid red;
    font-size: 2rem;
    background: linear-gradient(white, rgb(245, 163, 69));
}

header {
    margin-bottom: 30px;
    text-align: center;
    border: 2px solid red;
}

select {
    font-size: 1rem;
}

.section-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: 2px solid red;
    padding: 0 10vw;
}

.column {
    flex: 1;
    border: 3px solid green
}

img {
    max-width: 900px;
    max-height: 700px;
}