html {
    height: 100vh;
    font-size: 2rem;
    background: linear-gradient(white, rgb(245, 163, 69));
}

header {
    margin-bottom: 30px;
    text-align: center;
}

select {
    font-size: 1rem;
}

.section-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0 10vw;
}

.column {
    flex: 1;
}

img {
    width: 500px;
}

span {
    font-weight: bold;
    font-size: 1.3rem;
    text-decoration: underline;
}

#dog-name {
    font-size: 2rem;
    text-decoration: none;
}

.left-col {
    text-align: center;
}